<html>
    <head>
        <title>Aayush's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Aayush's Blog</a></h1>
        </div>

        <div>
            <p>published: 12.03.2020, 10:37</p>
            <h2><a href="">My first post</a></h2>
            <p>my first project is about this.</p>
        </div>

        <div>
            <p>published: 12.03.2020, 10:37</p>
            <h2><a href="">My second post</a></h2>
            <p>my second post is about this.</p>
        </div>
    </body>
</html>